*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: white; 
   width: 100%;
   padding: 40px auto;

}

.pre-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.pre-order button{
    padding: 10px;
    border-radius: 5px;
}

.info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}



.info1{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.info1 button{
    padding: 8px;
    color: white;
    background-color: rgb(241, 105, 56);
}

.info1 img{
    height: 400px;
}


.info1{
display: flex;
justify-content: space-between;

}

.info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.info2 img{
    height: 300px;
}

.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 40px;
}

.foot{
    text-align: center;
}