*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: white; 
   width: 100%;
   padding: 40px auto;

}

.content h1{
    width: 40%;
}

.content p{
    width: 50%;
}

.pre-order{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.pre-order button{
    padding: 10px;
    border-radius: 5px;
}

.info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}



.info1{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.info1 button{
    padding: 8px;
    color: white;
    background-color: rgb(241, 105, 56);
}

.info1 img{
    height: 400px;
}

.info2 h1{

}


span button{
    background-color: aliceblue;
}

.info1{
display: flex;
justify-content: space-between;

}

.info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.info2 img{
    height: 300px;
}

.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 40px;
}

.footer-content img{
    background-color: rgb(245, 107, 57);
    
}

.foot{
    text-align: center;
}